@model List<City>

    <a asp-action="Create" class="btn btn-primary" asp-route-id=@ViewBag.CountryId>Add City</a>
    <a asp-controller="Country" asp-action="Index" class="btn btn-primary" >Back to @ViewBag.Name</a>



@if (Model.Count() != 0)
{
    <h1>Citys in @ViewBag.Name</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td> 
                        <a asp-action="Edit" asp-route-id=@item.Id asp-route-countryid=@ViewBag.CountryId class="btn btn-success">Edit</a> 
                        <a asp-controller="City" asp-action="RemoveCity" class="btn btn-danger" asp-route-id=@ViewBag.CountryId asp-route-cityid=@item.Id>Remove City</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1>@ViewBag.Name does not hawe any Citys!</h1>
}
